* {
    font-family: 'Poppins', sans-serif;   
}

body {
    background: #f5f5f5;
}

.logo {
    height: 60px;       /* ganti ini aja */
    max-height: 100%;   /* navbar TIDAK ikut berubah */
    object-fit: contain;
}

/* LAYOUT UTAMA */
.pos-container {
    display: flex;
    height: calc(100vh - 60px);
}

/* KIRI */
.menu-section {
    flex: 1;
    padding: 30px;
    background: #fff;
    overflow-y: auto;
}

/* KANAN */
.order-section {
    width: 320px;
    border-left: 1px solid #ddd;
    padding: 20px;
    background: #fafafa;
}

/* PRODUCT */
.product-card {
    border-radius: 10px;
    background: white;
    box-shadow: 0 2px 6px rgba(0,0,0,.1);
    cursor: pointer;
}

.product-img {
    height: 120px;
    background: #a07c4f;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.price {
    color: red;
    font-weight: bold;
}

/* BUTTON */
.btn-brown {
    background: #a07c4f;
    color: white;
}
